/IMDEV.BaseDeDonnees/bin
/IMDEV.BaseDeDonnees/obj
/IMDEV.BaseDeDonnees/IMDEV.BaseDeDonnees.vbproj.user
/IMDEV.BaseDeRegistre/bin
/IMDEV.BaseDeRegistre/obj
/IMDEV.ClientFTP/bin
/IMDEV.ClientFTP/obj
/IMDEV.ComposantsGraphique/bin
/IMDEV.ComposantsGraphique/obj
/IMDEV.Conversion/bin
/IMDEV.Conversion/obj
/IMDEV.Cryptage/bin
/IMDEV.Cryptage/obj
/IMDEV.Cryptage/IMDEV.Cryptage.vbproj.user
/IMDEV.Database/bin
/IMDEV.Database/obj
/IMDEV.Database/IMDEV.Database.suo
/IMDEV.Database/IMDEV.Database.csproj.user
/IMDEV.Date/bin
/IMDEV.Date/obj
/IMDEV.FichiersINI/bin
/IMDEV.FichiersINI/obj
/IMDEV.GenLog/bin
/IMDEV.GenLog/obj
/IMDEV.GestionFichiers/bin
/IMDEV.GestionFichiers/obj
/IMDEV.gestionOffice/bin
/IMDEV.gestionOffice/obj
/IMDEV.GestProcess/bin
/IMDEV.GestProcess/obj
/IMDEV.GUI/bin
/IMDEV.GUI/obj
/IMDEV.GUI/IMDEV.GUI.csproj.user
/IMDEV.Interpreteurs/bin
/IMDEV.Interpreteurs/obj
/IMDEV.Interpreteurs/IMDEV.Interpreteurs.suo
/IMDEV.Interpreteurs/IMDEV.Interpreteurs.vbproj.user
/IMDEV.MailSMS/bin
/IMDEV.MailSMS/obj
/IMDEV.Maths/bin
/IMDEV.Maths/obj
/IMDEV.OpenERP/IMDEV.OpenERP.suo
/IMDEV.OpenERP/IMDEV.OpenERP/bin
/IMDEV.OpenERP/IMDEV.OpenERP/obj
/IMDEV.OpenERP/IMDEV.OpenERP.EG/bin
/IMDEV.OpenERP/IMDEV.OpenERP.EG/obj
/IMDEV.OpenERP/test_IMDEV.OpenERP/bin
/IMDEV.OpenERP/test_IMDEV.OpenERP/obj
/IMDEV.OpenERP/xmlrpc/bin
/IMDEV.OpenERP/xmlrpc/obj
/IMDEV.PackUnpack/bin
/IMDEV.PackUnpack/obj
/IMDEV.Reseaux/bin
/IMDEV.Reseaux/obj
/IMDEV.Threading/IMDEV.Threading/bin
/IMDEV.Threading/IMDEV.Threading/obj
/IMDEV.Threading/IMDEV.Threading/IMDEV.Threading.csproj.user
/IMDEV.Threading/testIMDEVThreading/bin
/IMDEV.Threading/testIMDEVThreading/obj
/IMDEV.Commun.suo
/IMDEV.InstantMessaging/InstantMessaging/bin
/IMDEV.InstantMessaging/InstantMessaging/obj
/IMDEV.InstantMessaging/jabber/bin
/IMDEV.InstantMessaging/jabber/obj
/IMDEV.InstantMessaging/netlib.Dns/bin
/IMDEV.InstantMessaging/netlib.Dns/obj
/IMDEV.InstantMessaging/test_IMDEV.IM/bin
/IMDEV.InstantMessaging/test_IMDEV.IM/obj
/IMDEV.InstantMessaging/IMDEV.InstantMessaging.suo
/IMDEV.GestString/bin
/IMDEV.GestString/obj
/IMDEV.WinUsers/bin
/IMDEV.WinUsers/obj
/IMDEV.ClientFTP/*.user
